@{
    ViewData["Title"] = "About Page";
}
@section Heading {
    <h1 class="jumbotron display-4 text-center">About Us</h1>
}

<div class="row">
    <div class="col-md-6">
        <h2>My Story</h2>
        <p>About section is ver important to let the users who you are.</p>
        <p>Building trust is of utmost importance to us.</p>
    </div>
    <hr />
    <div class="col-md-6">
        <h2>Our Team</h2>
        <p>One person team or a big team doesn't matter.</p>
        <p>If it was for real I would put a picture in a round thing but its okay.</p>
    </div>
</div>