@{
    ViewData["Title"] = "Contact";
}

@section Heading {
    <h1>Contact Us</h1>
}


<h2>Contact Information</h2>

<div>
    <p>Phone: @ViewBag.Contact["PhoneNumber"]</p>
    <p>Email: <a href="mailto:@ViewBag.Contact["Email"]">@ViewBag.Contact["Email"]</a></p>
    <p>Facebook: <a href="@ViewBag.Contact["FacebookUrl"]" target="_blank">@ViewBag.Contact["FacebookUrl"]</a></p>
</div>