@{
    ViewData["Title"] = "Home Page";
}
@section Heading {
    <h1 class="jumbotron display-4 text-center">Welcome to MyWebsite</h1>
}

    <p class="lead text-center">Hello, I hope you are doing well. This is a sample website showcasing some of the skill I learned in this course.</p>
    <div class="col text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </div>
