@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Heading {
        <h1>Help</h1>
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Help" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Help" asp-controller="Tutorial" asp-action="Index">Tutorial</a>
    </li>
</ul>

@RenderBody()