@{
    ViewData["Title"] = "Help - Home";
}

<div class="row m-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Buy Fast Help</h5>
                <p class="card-text">Get the help you need.</p>
                <a href="#" class="btn btn-primary">Buy Now!</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sell Fast Help</h5>
                <p class="card-text">Selling help Eazy money!.</p>
                <a href="#" class="btn btn-primary">Sell Now!</a>
            </div>
        </div>
    </div>
</div>