@{
    ViewData["Title"] = "Tutorial Page 3";
}

<div class="m-5">
    <h2>Tutorial Page 3</h2>
    <p>This is the third tutorial page. Conclude the tutorial with any remaining information and instructions.</p>
    <a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="2" class="btn btn-secondary">&laquo; Previous</a>
</div>