@{
    ViewData["Title"] = "Tutorial Page 1";
}

<div class="m-5">
    <h2>Tutorial Page 1</h2>
    <p>This is the first tutorial page. Here you can provide information and instructions related to the tutorial.</p>
    <a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="2" class="btn btn-primary">Next &raquo;</a>
</div>